# bash の個人設定（90_local.sh にコピーして編集）
# conf/ 内のファイルはファイル名順にソースされるため、
# 00_bash_setup.sh の設定を上書きできる

###############################################################################
# Aliases
###############################################################################
# alias ls='ls --color=auto -F --group-directories-first'
# alias ll='ls -l'
# alias la='ls -la'

###############################################################################
# Environment
###############################################################################
# export EDITOR=vim
# export PAGER=less
# export LESS='-g -i -M -R -S -W -z-4 -x4'

###############################################################################
# Additional PATH
###############################################################################
# export PATH=$PATH:~/.local/roswell/bin
